
cache*
*.DS_Store
tests*
__pycache__*
*logs
*dist
*build
build.sh
*test.py
*.egg-info*
*.vscode
*test_ops
tests/private_*
!tests/
!lazyops/types/asyncprop/cached.py
lazyops/types/asyncprop/proxy.py
lazyops/types/asyncprop/loader.py
lazyops/types/asyncprop/cached.py
lazyops/types/asyncprop/base.py
lazyops/types/asyncprop/__init__.py
lazyops/libs/stream_unzip/README.md
lazyops/libs/stream_unzip/lib.py
lazyops/libs/stream_unzip/inflate.py
lazyops/libs/stream_unzip/exceptions.py
lazyops/libs/stream_unzip/constants.py
tests/test_shelve.db.db
lazyops/libs/unzip_stream*
lazyops/libs/jsonstate*
tests/local.cache
tests/local.hash
tests/local.lock
tests/libs/abcs/private_test_wrapper.py
tests/**/private**
tests/libs/abcs/k8s.py
# lazyops/libs/hatchet*
lazyops/libs/kinde/data
lazyops/libs/hatchet_v1
lazyops/libs/hatchet/cache
lazyops/libs/hatchet/data
src/lzl/api/hatchet/patches/context.j2.py
src/lzl/api/hatchet/patches/worker.j2.py
tests/lzl/hatchet.py
src/lzl/ext/fast/tests
src/lzl/.data/lzl.tmp.json
tests/lzl/exts/fastapi_oauth2.py
src/lazyops/*
/tests/lzl/exts/tmprl
tests/wrapping_v3.py
tests/wrapping_v2.py
tests/test_aiohttpx.py
tests/match_env_pattern.py
tests/lzl/test_psqla.py
tests/lzl/test_psql.py
tests/lzl/test_abcs.py
tests/lzl/settings.py
tests/lzl/db_sql_model.py
src/lzl/api/slack/slack_context.json
tests/out/kvdb/components/session.pyi
tests/out/lzl/api/qdrant/client.pyi
tests/out/lzl/api/qdrant/client_v2.pyi
tests/out/lzl/api/qdrant/client_v3.pyi
src/lzo/utils/.tmpdata
.cursor/mcp.json
.mcp.json
tests/lzl/file_08262025.py

# MkDocs build artifacts
site/
.cache/
examples/file_performance_benchmark.py
!src/lzl/io/file/spec/providers/cached.py
!src/lzl/io/file/spec/paths/cached.py