
cache*
*.DS_Store
tests*
__pycache__*
*logs
*dist
*build
build.sh
*test.py
*.egg-info*
*.vscode
*test_ops
tests/private_*
!tests/
!lazyops/types/asyncprop/cached.py
lazyops/types/asyncprop/proxy.py
lazyops/types/asyncprop/loader.py
lazyops/types/asyncprop/cached.py
lazyops/types/asyncprop/base.py
lazyops/types/asyncprop/__init__.py
lazyops/libs/stream_unzip/README.md
lazyops/libs/stream_unzip/lib.py
lazyops/libs/stream_unzip/inflate.py
lazyops/libs/stream_unzip/exceptions.py
lazyops/libs/stream_unzip/constants.py
tests/test_shelve.db.db
lazyops/libs/unzip_stream*
lazyops/libs/jsonstate*
tests/local.cache
tests/local.hash
tests/local.lock
tests/libs/abcs/private_test_wrapper.py
