name: Release LazyOps on PyPI

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["E2E Tests"]
    branches: [main]
    types:
      - completed

jobs:
  pypi:
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}

    name: Publish to PyPI
    runs-on: ubuntu-latest
    # Environment and permissions trusted publishing.
    environment:
      # Create this environment in the GitHub repository under Settings -> Environments
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      
      - name: Build
        run: uv build

      - name: Publish
        run: uv publish